.terminal {
    overflow-x: auto;
    overflow-y: hidden;

    pre {
        padding: 0;
        font-size: 12px;
        margin-bottom: 0;
        border: 0;
        overflow: hidden;
        margin-left: 6px;
        margin-right: 6px;
        color: #333;
    }

    .current-search-result {
        background-color: orange;
    }

    mark, .mark {
        background-color: yellow;
    }
}
