.image-formatter {
    .ecr-label {
        position: absolute;
        top: 0px;
        left: calc(100% - 15px);
        font-weight: bold;
        font-size: 0.5em;
        margin: 0em;
        margin-top: -2px;
        padding: 0em;
        color: #aaa;
    }
}

