.status-formatter {
    .alert {
        padding: 3px 3px;
        padding-left: 8px;
        margin-bottom: 0;
    }

    .alert-gone {
        color: #fff;
        background: #4d4d4d;
    }

    .alert-terminated {
        color: #fff;
        background: #bbaaee;
    }
}
