.job-page {
    .job-menu .nav-tabs {
        margin-bottom: 12px;
    }

    h2 {
        float: left;
    }

    .section-loader {
        float: right;
    }
    button {
        margin: 2px;
    }

    .array-job-icon {
        font-size: 30px;
        margin-right: 6px;
        cursor: default;
    }
}
